include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include anther_inventory *.css
recursive-include anther_inventory *.csv
recursive-include anther_inventory *.html
recursive-include anther_inventory *.ico
recursive-include anther_inventory *.js
recursive-include anther_inventory *.json
recursive-include anther_inventory *.md
recursive-include anther_inventory *.png
recursive-include anther_inventory *.py
recursive-include anther_inventory *.svg
recursive-include anther_inventory *.txt
recursive-exclude anther_inventory *.pyc